/* external fonts */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";


@theme {
    /* color */

    --color-primary: #ff88b5;
    --color-secondary: #00f4fe;
    --color-tertiary: #f3ffca;
    --color-ff6ea9: #ff6ea9;

    --color-description: #aba9b9;

    /* fonts */
    --font-heading: "Space Grotesk",
        sans-serif;
    --font-body: "Manrope",
        sans-serif;

    /* font sizing */
    --text-display-lg: 3.5rem;
    /* hero headlines */
    --text-title: 1.5rem;
    --text-body: 1rem;
    --text-label: 0.75rem;

    --text-14: 14px;
    --text-20: 20px;

    /* Define the glow colors */
    --color-primary-glow: #ff88b5;
    --color-secondary-glow: #00f4fe;

    /* Create custom shadow utilities */
    --shadow-pink-glow: 0 0 10px var(--color-primary-glow), 0 0 20px var(--color-primary-glow);
    --shadow-cyan-glow: 0 0 10px var(--color-secondary-glow), 0 0 20px var(--color-secondary-glow);
    --shadow-dynamic-glow: 0 0 10px currentColor, 0 0 20px currentColor;

    /* Text Shadow Utilities */
    --text-shadow-pink: 0 0 8px #ff88b5, 0 0 15px rgba(255, 136, 181, 0.5);
    --text-shadow-cyan: 0 0 8px #00f4fe, 0 0 15px rgba(0, 244, 254, 0.5);
    --text-shadow-cyan: 0 0 8px #757482, 0 0 15px rgba(117, 116, 130, 0.5)
}

@layer base {
    body {
        background-color: #0d0d18;
        /* solid void color */
        background-image: linear-gradient(71deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 0.49%,
                rgba(255, 136, 181, 0.03) 0.49%,
                rgba(255, 136, 181, 0.03) 0.98%);
    }
}